{{> menu}}
{{#each anime}}
 <div class="container">
    <figure class="mt-3 ">
  <blockquote class="blockquote">
    <h1>{{this.animename}}</h1>
  </blockquote>
</figure>
<div class="row g-0">
    <div class="col-sm-6 col-md-8">
<p>{{this.animedescription}}</p>
    <p class="fw-bold">Author: <a class="text-decoration-none text-dark" href="/authors/2">Gege Akutami</a> </p>
<p class="mt-4 fw-bold">Anime Series: {{this.animeseries}}</p>
    <p class="fw-bold">Date of release: {{this.dateofrelease}}</p>
</div>
<div class="col-6 col-md-4">
    <img src={{this.img}} class="img-thumbnail" alt="img">
</div>
</div>
<hr class="featurette-divider">

<div class="mt-4 ">
<!--<nav aria-label="...">
  <ul class="pagination pagination-sm">
    <li class="page-item active" aria-current="page">
      <span class="page-link">-->
          <iframe width="640" height="384" src={{this.videoid}} frameborder="0" scrolling="no" allowfullscreen></iframe>
      <!--</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
  </ul>
</nav>--></div>
<hr class=" featurette-divider">

  <form method="POST" action="/addcomment">
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Comments</label>
</div>
<button type="submit" class="btn btn-outline-danger mt-2">Submit</button>
  </form>
     <hr class=" featurette-divider">
{{/each}}
{{#each comment}}
     <p>{{this.text}}</p>
     {{/each}}
 </div>
