{{> menu}}
<div class="row g-0">
    <h1>Anime Table</h1>
    <a href="/addanime"class="col-4 btn btn-outline-danger">Add New Anime</a>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Series</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
        {{#each animeall}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td><a class="fw-bold text-decoration-none text-dark" href="/animes/{{this.id}}">{{this.animename}}</a></td>
      <td>{{this.animeseries}}</td>
      <td><a href="/animedash/{{this.id}}"class="btn btn-outline-danger">Update</a></td>
      <td><a href="/animedel/{{this.id}}"class="btn btn-outline-danger">Delete</a></td>
    </tr>
{{/each}}
    
  </tbody>
</table>
</div>